:root {
    --tan-light:#FAF1E4;
    --tan-dark:#CEC5B7;
    --green-dark: #40513B;
    --green-medium: #609966;
    --green-light: #9DC08B;
}

body {
    background-color: var(--tan-light);
}

.navbar {
    background-color: var(--green-dark) !important;
}
.nav-link {
    color: var(--tan-light);
}
.nav-link:hover {
    color: var(--tan-dark);
}

.navbar-brand {
    color: var(--tan-light);
}
.navbar-brand:hover {
    color: var(--tan-dark);
}
