@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FAF1E4;
  background-size: cover;
  background-position: center;
  display: flex;
  padding-top: 64px;
  flex-direction: column;
  background-color: #FAF1E4;
  min-height: 100vh;

}

header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  background: #40513B;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 1.2em;
  /* Adjust the font size for the logo */
  color: #FAF1E4;
  user-select: none;
}

.navigation {
  /* Move navigation links and login button to the right */
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.navigation a {
  position: relative;
  font-size: 1em;
  /* Adjust the font size for the navigation links */
  color: #FAF1E4;
  text-decoration: none;
  margin-right: 40px;
  /* Add some spacing between the links */
  margin: 0 auto 0 60px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #FAF1E4;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;

}

.navigation a:hover::after {
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  font-size: 1em;
  /* Adjust the font size for the login button if needed */
  color: #FAF1E4;
  background: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: flex-end;
  transition: .3s ease-in-out;
  text-decoration: none;
}

.navigation .btnLogin-popup:hover {
  background: #CEC5B7;
  color: #162938;

}

/*Added in CSS content from Admin pages */
.container my-5 {
  background-color: #FAF1E4;
}

textarea {
  width: 600px;
  height: 250px;
}

.flex-container {
  /*Used to hold flex-boxes. These are the light green containers within the Admin section: User Profiles & Modify Points*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: #9DC08B;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font stack */
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  transition: background-color 0.3s, transform 0.3s ease-in-out;

  &:hover {
    background-color: #609966;
    transform: scale(1.05);
  }
}



/*STYLES USED TO CREATE THE SIDE NAVIGATION MENU (sidebar) AS SEEN ON ALL ADMIN PAGES*/
.wrapper {
  /*Used to contain both the sidebar and main page content*/
  display: flex;
  position: relative;

}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: linear-gradient(45deg, #609966, #4C7E5A); /* Gradient background */
  padding: 30px 0;
  position: fixed;
  transition: width 0.3s ease; /* Add width transition for smoother effects */
  font-weight: bolder;
}

.wrapper .sidebar h2 {
  color: #FAF1E4;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid #CEC5B7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  transition: background-color 0.3s, border-color 0.3s; /* Add transitions for smoother effects */
}

.wrapper .sidebar ul li a {
  color: #FAF1E4;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #9DC08B;
  border-color: #9DC08B; /* Adjust border color on hover */
}

.wrapper .sidebar ul li:hover a {
  color: #FAF1E4;
}


.wrapper .main_content {
  /*Contains the main page content*/
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

.login .wrapper {

  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  /*for anyone who want their box to have a shadow like in the login page*/
}

.button-link {
  display: inline-block;
  background-color: #40513B;
  color: #FAF1E4;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

.button-link:hover {
  background-color: #FAF1E4;
  color: #40513B;
  text-decoration: underline;
  text-decoration-color: #40513B;

}

#map {
  height: 100%;
  width: 48%;
  position: absolute;
  left: 0;
  transition: height 0.5s ease-in-out;
  z-index: 98 !important;
}

#mapTable {
  height: 50%;
  text-align: center;
  width: 50%;
  margin-left: 50%;
  border-radius: 15px;
}

.searchTitle {
  text-align: center;
}

.searchForm {
  text-align: center;
  padding: 4%;
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: green;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

.fa-trash-alt:hover{
    color: red;
    transition: color .15s ease-in-out;
}

input {
  border: 1px solid #ddd; /* Add a subtle border for a clean look */
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  outline: none; /* Remove the default outline on focus */
  transition: border-color 0.3s, box-shadow 0.3s; /* Add transitions for a smoother change in appearance */

  &:focus {
    border-color: #66afe9; /* Highlight border color on focus */
    box-shadow: 0 0 7px rgba(102, 175, 233, 0.5); /* Add a subtle box shadow on focus */
  }

  &:hover {
    border-color: #66afe9;
    box-shadow: 0 0 7px rgba(102, 175, 233, 0.5); /* Add a subtle box shadow on focus */
  }
}


label{display: block;}

/* Fancier table styles with a solid green theme */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

/* Header styles with solid color background */
.table th {
  background-color: #609966;
  color: #ffffff;
  padding: 15px;
  text-align: left;
  border-bottom: 2px solid #2E8B57;
}

/* Row styles */
.table tr {
  border-bottom: 1px solid #ddd;
}

/* Cell styles */
.table td,
.table th {
  padding: 15px;
  text-align: left;
}

/* Alternating row background color with solid color */
.table tr:nth-child(even) {
  background-color: #D8ECC3;
}

/* Hover effect on rows */
.table tbody tr:hover {
  background-color: #ACCFA1;
  cursor: pointer;
}

/* Responsive styles for small screens */
@media screen and (max-width: 600px) {
  .table {
    overflow-x: auto;
    display: block;
  }

  .table thead, .table tbody, .table th, .table td, .table tr {
    display: block;
  }

  .table th,
  .table td {
    text-align: center;
    border: none;
  }
}
